In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('Housing.csv')

In [4]:
data

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,2.5,2590.0,sqft,6000.00,sqft,98144,795000.0
1,4,2.0,2240.0,sqft,0.31,acre,98106,915000.0
2,4,3.0,2040.0,sqft,3783.00,sqft,98107,950000.0
3,4,3.0,3800.0,sqft,5175.00,sqft,98199,1950000.0
4,2,2.0,1042.0,sqft,NaN,NaN,98102,950000.0
...,...,...,...,...,...,...,...,...
2011,3,2.0,1370.0,sqft,0.50,acre,98112,910000.0
2012,1,1.0,889.0,sqft,NaN,NaN,98121,550000.0
2013,4,2.0,2140.0,sqft,6250.00,sqft,98199,1150000.0
2014,2,2.0,795.0,sqft,NaN,NaN,98103,590000.0
2015,3,2.0,1710.0,sqft,4267.00,sqft,98133,659000.0

In [5]:
data = data.dropna()

data = pd.get_dummies(data, columns=['size_units', 'lot_size_units'], drop_first=True)

X = data.drop('price', axis=1)
y = data['price']

In [6]:
data

      beds  baths    size  lot_size  zip_code      price  lot_size_units_sqft
0        3    2.5  2590.0   6000.00     98144   795000.0                    1
1        4    2.0  2240.0      0.31     98106   915000.0                    0
2        4    3.0  2040.0   3783.00     98107   950000.0                    1
3        4    3.0  3800.0   5175.00     98199  1950000.0                    1
5        2    2.0  1190.0      1.00     98107   740000.0                    0
...    ...    ...     ...       ...       ...        ...                  ...
2009     3    3.5  1680.0   1486.00     98126   675000.0                    1
2010     2    2.0  1400.0      0.34     98199   699950.0                    0
2011     3    2.0  1370.0      0.50     98112   910000.0                    0
2013     4    2.0  2140.0   6250.00     98199  1150000.0                    1
2015     3    2.0  1710.0   4267.00     98133   659000.0                    1

[1669 rows x 7 columns]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
X_train.shape

In [8]:
X_train

array([[-0.0921353 ,  0.23392013, -0.97904798, -1.2262869 , -0.28681848,
         0.38328477],
       [-0.0921353 , -0.26814317,  0.28801541,  0.35984693, -0.76631863,
         0.38328477],
       [-0.94041544,  0.73598343, -0.05816441, -1.43738723, -1.02786416,
        -2.60902617],
       ...,
       [-0.0921353 ,  0.23392013, -0.31157709, -1.1799629 ,  0.84654552,
         0.38328477],
       [-0.0921353 ,  0.23392013,  0.81972951,  1.93486301,  0.93372736,
         0.38328477],
       [-0.94041544, -0.26814317, -0.99601758,  0.41543574,  0.84654552,
         0.38328477]])

In [10]:
X_test

array([[-1.78869559, -1.27226977, -1.51076209, -1.43739464, -0.8970914 ,
        -2.60902617],
       [-0.0921353 ,  0.23392013, -0.03327567, -1.43743541,  3.24404627,
        -2.60902617],
       [-1.78869559, -1.27226977, -1.31052082, -1.43742429, -0.67913678,
        -2.60902617],
       ...,
       [ 1.604425  , -0.26814317,  2.618507  ,  1.7125078 , -0.24322755,
         0.38328477],
       [-0.94041544, -0.77020647, -0.84215989, -1.43715376,  0.84654552,
        -2.60902617],
       [-0.0921353 , -0.26814317, -0.88401823, -0.57330377, -0.7227277 ,
         0.38328477]])

In [9]:
y_train

1337     615000.0
327      990200.0
190     2458000.0
527     1360000.0
915      550000.0
          ...
1362     819950.0
1552    1000000.0
1041     699900.0
1756     875000.0
1356     850000.0
Name: price, Length: 1335, dtype: float64

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1)
])


model.compile(optimizer='adam', loss='mean_squared_error')

history=model.fit(X_train, y_train,validation_data=(X_test,y_test), epochs=5000, batch_size=78)

In [ ]:
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

In [ ]:
plt.figure(figsize=(10, 6))
plt.plot(history.history['loss'], label='Training Loss')
plt.plot(history.history['val_loss'], label='Validation Loss')
plt.xlabel('Epoch')
plt.ylabel('Loss')
plt.legend()
plt.title('Training and Validation Loss Over Epochs')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
plt.plot(history.history['loss'], label='Training Loss')
plt.plot(history.history['val_loss'], label='Validation Loss')
plt.xlabel('Epoch')
plt.ylabel('Loss')
plt.legend()
plt.title('Training and Validation Loss Over Epochs')
plt.show()

In [ ]:
from sklearn.metrics import classification_report

data = pd.read_csv('/content/drive/MyDrive/Dataset General/IT Boot Camp Deep Learning/glass.csv')
# -- 1 building_windows_float_processed
# -- 2 building_windows_non_float_processed
# -- 3 vehicle_windows_float_processed
# -- 5 containers
# -- 6 tableware
# -- 7 headlamps
X = data.drop('Type of glass', axis=1)
y = data['Type of glass']
y = pd.get_dummies(y)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Define a neural network model
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(len(y.columns), activation='softmax')  # Output layer with softmax activation for multi-class
])

# Compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

# Train the model
hist=model.fit(X_train, y_train,validation_data=(X_test,y_test), epochs=100, batch_size=32)

In [ ]:

# Evaluate the model on the test set
y_pred = model.predict(X_test)

# Convert the one-hot encoded predictions back to class labels
y_pred_labels = np.argmax(y_pred, axis=1)
y_true_labels = np.argmax(np.array(y_test), axis=1)

# Generate a classification report
report = classification_report(y_true_labels, y_pred_labels)
print(report)

In [ ]:
y

In [ ]:
plt.figure(figsize=(10, 6))
plt.plot(hist.history['loss'], label='Training Loss')
plt.plot(hist.history['val_loss'], label='Validation Loss')
plt.xlabel('Epoch')
plt.ylabel('Loss')
plt.legend()
plt.title('Training and Validation Loss Over Epochs')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
plt.plot(hist.history['accuracy'], label='Training accu')
plt.plot(hist.history['val_accuracy'], label='Validation accuracy')
plt.xlabel('Epoch')
plt.ylabel('Loss')
plt.legend()
plt.title('Training and Validation accuracy Over Epochs')
plt.show()